include pyproject.toml

# Include the README
include *.md

# Include the license file
include LICENSE

# Include setup.py
include setup.py

# Include the data files
recursive-include data *

# include the requirements file
include requirements .txt

# added by check-manifest
recursive-include yaticker *.py

# added by check-manifest
include *.txt

# added by check-manifest
recursive-include yaticker *.yaml
